<DOCTYPE html>

<html>
<head>
    <title>Application process - SQL part 2</title>
</head>
<body>
    <div class="navigation" id="navigationbar">
        <a href="/">Home</a>
        <a href="/mentors">Mentors and schools</a>
        <a href="/all-schools">All school</a>
        <a href="/mentors-by-country">Mentors by country</a>
        <a href="/conatcts">Contacts</a>
        <a href="/applicants">Applicants</a>
        <a href="/applicants-and-mentors">Applicants and mentors</a>
    </div>
    <h1></h1>
    <table>
        <th>
            <td></td>
        </th>
        <tr>

            <td></td>
        </tr>
    </table>
</body>
</html>