<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navigation" id="navigationbar">
        <a href="/">Home</a>
        <a href="/mentors">Mentors and schools</a>
        <a href="/all-schools">All school</a>
        <a href="/mentors-by-country">Mentors by country</a>
        <a href="/contacts">Contacts</a>
        <a href="/applicants">Applicants</a>
        <a href="/applicants-and-mentors">Applicants and mentors</a>
    </div>
    <h1>WELCOME TO THE APPLICATION PROCESS MANAGER!</h1>
</body>
</html>